ANTHROPIC_API_KEY=
BALTERS_EMAIL=
GMAIL_APP_PASSWORD=
GOOGLE_SERVICE_ACCOUNT_PATH=
GOOGLE_SHEETS_ID_RELEASES=
GOOGLE_CALENDAR_ID=
APPROVER_EMAILS=
EMAIL_EQUIPE=
EMAIL_DESIGN=
EMAIL_DISTRIBUTION=
EMAIL_MASTERING=
EMAIL_SOCIAL=
EMAIL_AR=
